.content-area {
    max-width: 800px;
    width: 100%;
    /* margin: 0 auto; */
}
.card {
    border: 2px solid transparent;
    border-radius: 15px;
    background: #ffffff;
    /* box-shadow: 0 6px 20px rgba(0, 0, 0, 0.1); */
    margin-bottom: 0px;
}
.card-header {
    background: none;
    border-bottom: none;
    padding: 10px 0 0 20px;
    display: flex;
    align-items: center;
    gap: 12px;
}
.card-header h5 {
    margin: 0;
    font-size: 1.3rem;
    font-weight: 600;
    color: #2e7d32;
}
.card-body {
    padding: 20px;
}
.form-label {
    font-weight: 400;
    /* color: #1e40af; */
    color: #3d414e;
}
.btn-green {
    background-color: #10b981;
    border: none;
    color: #ffffff;
}
.btn-green:hover {
    background-color: #059669;
}
.error-message {
    color: #dc2626;
    font-size: 0.875rem;
}
.current-email {
    color: #333333;
    font-weight: bold;
}
.form-check-label {
    color: #3d414e;
}
/* hr {
    border: 0;
    height: 3px;
    background: linear-gradient(to right, #10b981, #fb7185);
    margin: 30px 0;
    opacity: 0.5;
} */
 .button-column {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    padding-bottom: 18px;
    /* height: 100%; */
}

@media (max-width: 576px) {
    body {
        padding: 20px;
    }
    .content-area {
        max-width: 100%;
    }
    .card {
        border-radius: 10px;
    }
}