.page-title {
    position: relative;
    display: inline-block;
    padding-bottom: 10px;
}
.page-title::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 60px; /* Fixed length for the underline */
    height: 3px;
    background: linear-gradient(to right, #2e7d32, #4caf50);
    transition: transform 0.3s ease;
    transform-origin: left;
}
.form-label {
    font-weight: 500;
    font-size: 14px;
}

.accordion-header {
  border-radius: 8px !important;
  background: none !important;
}




.text-teal {
  color: #00ADB5 !important;
}

.bg-teal {
  background-color: #00ADB5 !important;
}

.accordion-item {
  border: none;
  border-radius: 8px;
  /* background: white; */
  transition: transform 0.2s ease;
  border: 1px solid #ddd;
}

/* .accordion-item:hover {
  transform: translateY(-2px);
} */

.accordion-button {
  font-weight: 600;
  color: #00ADB5;
  /* background: white; */
  border-radius: 8px;
  background-color: #eee;
  padding: 10px;
}

.accordion-button:not(.collapsed) {
  color: #00ADB5;
  /* background: white; */
  box-shadow: none;
  /* border-radius: 8px; */
}

.accordion-button:focus {
  box-shadow: none;
  /* border-radius: 8px; */
}

.table {
  font-size: 0.875rem;
}

.table th {
  font-weight: 600;
  color: #1a202c;
  background: #f8f9fa;
  font-size: 14px;
}

.table td {
  vertical-align: middle;
  font-size: 14px;
}

.btn-link {
  text-decoration: none;
  /* transition: color 0.2s ease; */
}

.btn-link:hover {
  color: #008c91 !important;
}

.modal-content {
  border: none;
  border-radius: 12px;
}

.modal-header {
  border-radius: 12px 12px 0 0;
}

.btn-close-white {
  filter: invert(1);
}

.btn-sm {
  padding: 0.25rem 0.5rem;
}

.badge {
  font-size: 0.75rem;
  padding: 0.5em 1em;
  font-weight: 400;
}

.card { 
    margin-bottom: 20px; 
    border: none; 
    box-shadow: 0 2px 5px rgba(0,0,0,0.1); 
    border: 1px solid #ddd;
}
.card-header { 
    /* background-color: #007bff;  */
    background-color: #F8F8F8; 
    color: #212529; 
    /* font-weight: bold;  */
    font-size: 18px;
    font-weight: 500;
}
