.container {
    max-width: 100%;
}
.card {
    border: 2px solid transparent;
    border-radius: 12px;
    background: #ffffff;
    /* box-shadow: 0 6px 20px rgba(0, 0, 0, 0.1); */
    margin-bottom: 30px;
    /* transition: transform 0.3s, border-color 0.3s; */
    padding: 10px 0 0 0;
}
/* .card:hover {
    transform: translateY(-5px);
    border-color: #2dd4bf;
} */
.card-body {
    padding: 0px;
}
.btn-turquoise {
    background-color: #2dd4bf;
    border: none;
    color: #ffffff;
    /* transition: background-color 0.3s, transform 0.3s; */
}
.btn-turquoise:hover {
    background-color: #22a397;
    /* transform: scale(1.05); */
}
.filter-container {
    margin-bottom: 20px;
}
.table-responsive {
    overflow-x: auto;
}

.table {
    /* border-radius: 12px; */
    overflow: hidden;
    background: #ffffff;
    /* box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05); */
}
.table th {
    background: #f8f9fa;
    font-weight: 600;
    color: #1a202c;
    /* padding: 1rem; */
    font-size: 14px;
}
.table td {
    vertical-align: middle;
    /* padding: 1rem; */
    font-size: 14px;
}
/* .table tr {
    transition: background 0.2s ease;
}
.table tr:hover {
    background: #f1f9ff;
} */
table > tbody > tr > td > button {
    margin-right: 5px;
    margin-bottom: 5px;
}

.page-title {
    position: relative;
    display: inline-block;
    padding-bottom: 10px;
}
.page-title::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 60px; /* Fixed length for the underline */
    height: 3px;
    background: linear-gradient(to right, #2e7d32, #4caf50);
    transition: transform 0.3s ease;
    transform-origin: left;
}
.badge {
    /* padding: 0.6rem 1rem; */
    border-radius: 2px;
    font-weight: 400;
    font-size: 12px;
    /* transition: transform 0.2s ease; */
}