.bg-body-tertiary {
    background-color: #1E2039 !important;
}
.nav-link {
    color: #ffffff !important;
}

.navbar-toggler-icon {
    color: #ffffff !important;
}

.active-page {
    color: #DD9770 !important;
}