.card {
    border: none;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}
.stat-card {
    background: linear-gradient(135deg, #6e8efb, #a777e3);
    color: white;
    border-radius: 10px;
    padding: 20px;
    font-size: 14px;
    margin-bottom: 10px;
}
.table {
    background-color: white;
    border-radius: 10px;
    overflow: hidden;
}
table, tr, th, td {
    font-size: 14px !important;
}
table > tbody > tr > td> button {
    margin-right: 5px;
}