<div class="container-fluid">
    <div class="mb-4" *ngIf="manuscript">
        <div>
            <!-- <p class="mt-2">Manuscript ID: {{ manuscript.id }} | Submitted on: {{ manuscript.submissionDate | date:'mediumDate' }}</p> -->
            <!-- <p class="mt-2">{{ getArticleType(manuscript.manuscriptCategory) }}</p> -->
            <p class="mt-2"></p>
            <h4>{{ manuscript.title }}</h4>
            <h6 class="text-muted">{{ getArticleType(manuscript.manuscriptCategory) }}, {{ manuscript.journalName }}</h6>
        </div>
    </div>

    <div class="mb-4" *ngIf="manuscript">
        <ul class="nav nav-tabs-custom" role="tablist">
            <li class="nav-item">
                <a class="nav-link" routerLink="submission" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Submission</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="review" routerLinkActive="active">Review</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="copyediting" routerLinkActive="active">Copyediting</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="production" routerLinkActive="active">Production</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="publication" routerLinkActive="active">Publication</a>
            </li>
        </ul>
    </div>

    <router-outlet></router-outlet>
</div>