.page-title {
    position: relative;
    display: inline-block;
    padding-bottom: 10px;
}
.page-title::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 60px; /* Fixed length for the underline */
    height: 3px;
    background: linear-gradient(to right, #2e7d32, #4caf50);
    transition: transform 0.3s ease;
    transform-origin: left;
}

.card { 
    margin-bottom: 20px; 
    border: none; 
    box-shadow: 0 2px 5px rgba(0,0,0,0.1); 
    border: 1px solid #ddd;
}
.card-header { 
    /* background-color: #007bff;  */
    /* background-color: #F8F8F8;  */
    /* color: #212529;  */
    /* font-weight: bold;  */
    font-size: 16px;
    font-weight: 500;
}
/* .table { 
    background-color: white; 
} */
.btn-sm { 
    margin-right: 5px; 
}
.modal-content { 
    border-radius: 10px; 
}

.table {
  font-size: 0.875rem;
}

.table th {
  font-weight: 600;
  color: #1a202c;
  background: #f8f9fa;
  font-size: 14px;
}

.table td {
  vertical-align: middle;
  font-size: 14px;
}

.nav-item {
    cursor: pointer;
}

.nav-tabs .nav-link {
  color: #2e7d32;
  font-weight: 500;
}
.nav-tabs .nav-link.active {
  color: #2e7d32;
  background-color: #f8f9fa;
  border-bottom-color: #2e7d32;
}