<main>
    <article class="container">
        <div class="error-card card">
            <div class="card-body">
                <i class="bi bi-exclamation-circle error-icon"></i>
                <div class="page-title-text">
                    <h1>Page Not Found</h1>
                </div>
                <p class="card-text">
                    Sorry, the page you’re looking for doesn’t exist or has been moved. Please check the URL or return to our homepage.
                </p>
                <p class="card-text">
                    Need assistance? Contact our support team at <a href="mailto:support@scholarpress.com" class="custom-link">support&#64;example.com</a>.
                </p>
                <a href="/" class="custom-link error-btn btn"><i class="bi bi-house"></i>Back to Homepage</a>
            </div>
        </div>
    </article>
</main>