<!-- Profile Card -->
<div class="card" *ngIf="user">
    <div class="card-body">
        <h4 class="card-title mb-4" style="color: #2e7d32;">My Profile</h4>
        <div class="row">
            <!-- Profile Image -->
            <div class="col-md-2 text-left mb-4">
                <img [src]="profilePictureUrl || 'images/avatar.gif'" alt="Profile Picture" class="profile-img">
            </div>
            <!-- Profile Details -->
            <div class="col-md-10" style="max-width: 800px;">
                <table class="table">
                    <tbody>
                        <tr><td>Name</td><td>{{ user.nameTitle }} {{ user.firstName }} {{ user.middleName }} {{ user.lastName }}</td></tr>
                        <tr><td>Professional Title</td><td>{{ user.professionalTitle }}</td></tr>
                        <tr><td>Educational Qualification</td><td>{{ user.educationalQualification }}</td></tr>
                        <tr><td>Institute</td><td>{{ user.institute }}</td></tr>
                        <tr><td>Expertise</td><td>{{ user.expertise }}</td></tr>
                        <tr><td>Email</td><td>{{ userEmail }}</td></tr>
                        <tr><td>Mobile</td><td>{{ user.mobile }}</td></tr>
                        <tr><td>Telephone</td><td>{{ user.telephone }}</td></tr>
                        <tr><td>Country/Region</td><td>{{ user.country }}</td></tr>
                        <tr><td>Address</td><td>{{ user.address }}</td></tr>
                        <tr><td>Zip Code</td><td>{{ user.zipCode }}</td></tr>
                        <tr>
                            <td>Social Links</td>
                            <td>
                                <a *ngIf="user.facebookUrl" [href]="user.facebookUrl" class="social-link" target="_blank">Facebook <i class="bi bi-link-45deg"></i></a>
                                <a *ngIf="user.twitterUrl" [href]="user.twitterUrl" class="social-link" target="_blank">Twitter <i class="bi bi-link-45deg"></i></a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<div *ngIf="loading">Loading profile...</div>