<main>
    <article class="container">
        <div class="page-title-text text-center mb-5">
            <h1>Contact Us</h1>
        </div>

        <section class="mb-4">
            <div class="py-2">
                <div class="card-body">
                    <!-- <h2 class="section-heading h4 d-none">Contact Details</h2> -->
                    <p class="card-text">
                        ScholarPress is a leading open-access publishing platform for journals and books. We are committed to supporting authors and readers with any issues they encounter. Feel free to reach out to our team via email, and our professional staff will respond promptly to assist you.
                    </p>
                </div>
            </div>
        </section>

        <div class="row g-4">
            <div class="col-md-6">
                <div class="py-2">
                    <div class="card-body">
                        <h2 class="section-heading h4">For Professional Services</h2>
                        <p class="card-text">
                            <a class="custom-link" href="mailto:services@scholarpress.com">services&#64;example.com</a>
                        </p>
                    </div>
                </div>
                <div class="py-2">
                    <div class="card-body">
                        <h2 class="section-heading h4">For Complaints</h2>
                        <p class="card-text">
                            <a class="custom-link" href="mailto:support@scholarpress.com">support&#64;example.com</a>
                        </p>
                    </div>
                </div>
                <div class="py-2">
                    <div class="card-body">
                        <h2 class="section-heading h4">General Inquiries</h2>
                        <p class="card-text">
                            <a class="custom-link" href="mailto:info@scholarpress.com">info&#64;example.com</a>
                        </p>
                    </div>
                </div>
                <div class="py-2">
                    <div class="card-body">
                        <h2 class="section-heading h4">Postal Address</h2>
                        <address>
                            Momtaz Plaza 3rd Floor<br>
                            House #7, Road #4,<br>
                            Dhanmondi, Dhaka - 1205.<br>
                            Bangladesh<br>
                            Phone: Not Available<br>
                            Email: <a class="custom-link" href="mailto:info@scholarpress.com">info&#64;example.com</a>
                        </address>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="py-2">
                    <div class="card-body">
                        <h2 class="section-heading h4">Contact Form</h2>
                        <form id="contact-form-data" method="post" class="contact-form">
                            <div id="response" class="card-text mb-3"></div>
                            <div class="mb-3">
                                <label for="name" class="form-label">Name</label>
                                <input type="text" class="form-control" name="name" id="name" autocomplete="off" required>
                            </div>
                            <div class="mb-3">
                                <label for="email" class="form-label">Email</label>
                                <input type="email" class="form-control" name="email" id="email" autocomplete="off" required>
                            </div>
                            <div class="mb-3">
                                <label for="message" class="form-label">Message</label>
                                <textarea class="form-control" name="message" id="message" rows="5" autocomplete="off"></textarea>
                            </div>
                            <button type="button" name="submit-btn" id="submit-btn" class="btn btn-primary">Send <i class="bi bi-arrow-right-circle"></i></button>
                            <img class="loader" src="assets/img/loader.gif" alt="Loading">
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </article>
</main>