<img src="homepage-banner.jpg" class="img-fluid" alt="homepage banner">
<div class="container-fluid">
    <div>
        <div class="container d-flex justify-content-center align-items-center" style="height: 150px;">
            <div class="w-100" style="max-width: 600px;">
            <h3 class="text-center mb-4">Search Journal Articles</h3>
            <form class="input-group">
                <input type="text" class="form-control" placeholder="Title, author, or keyword">
                <button class="btn btn-primary" type="submit">
                <i class="bi bi-search"></i>
                </button>
            </form>
            </div>
        </div>  
    </div>
</div>
