@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

html, .background-theme-color {
    background-color: #F4EBDA !important;
}
body {
    background-color: transparent !important;
}
.container-main-div {
    background-color: #ffffff;
    /* box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px; */
    max-width: 1300px;
    margin: 0 auto;
    /* padding-bottom: 20px; */
}
