.journal-alpha-container {
    display: flex;
    align-items: center;
    gap: 1.5rem;
    /* background-color: #ffffff; */
    padding: 20px 0;
    /* border-radius: 8px; */
    /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); */
    /* margin-top: 1.5rem; */
    border-bottom: 1px solid #ccc;
}
.journal-main-pic {
    max-width: 160px;
    height: auto;
    border-radius: 8px;
}
.journal-cover-text {
    flex: 1;
}
.journal-cover-text p {
    font-size: 1.5rem;
    font-weight: 600;
    color: #343a40;
    margin-bottom: 1rem;
}
.journal-cover-text a {
    display: block;
    color: #495057;
    text-decoration: none;
    font-size: 1rem;
    margin-bottom: 0.5rem;
}
@media (max-width: 768px) {
    .journal-alpha-container {
        flex-direction: column;
        text-align: center;
    }
}