<main>
    <article class="container">
        <div class="page-title-text text-center mb-5">
            <h1>Our Journals</h1>
        </div>

        <section>
            <h2 class="section-heading h4 mb-4">Our Currently Published Journals</h2>

            <!-- Loading Spinner -->
            <div *ngIf="isLoading" class="text-center">
                <div class="spinner-border" role="status">
                    <span class="visually-hidden">Loading...</span>
                </div>
            </div>

            <!-- No Journal Found -->
            <div *ngIf="!isLoading && journals.length === 0" class="text-center text-muted my-5">
                <p>No journal published yet.</p>
            </div>

            <!-- Journal Cards -->
            <div *ngIf="!isLoading && journals.length > 0" class="row g-4">
                <div *ngFor="let journal of journals" class="col-md-6">
                    <div class="journal-card card p-3 h-100">
                        <div class="row g-0 h-100">
                            <div class="col-sm-5 d-flex align-items-center">
                                <a [routerLink]="'/journal/' + journal.journalUrl">
                                    <img [src]="journal.coverImageUrl" [alt]="journal.journalName" class="journal-img">
                                </a>
                            </div>
                            <div class="col-sm-7 d-flex flex-column">
                                <div class="card-body d-flex flex-column justify-content-between h-100">
                                    <div>
                                        <h3 class="card-title h5">{{ journal.journalName }}</h3>
                                        <p class="card-text"><b>ISSN:</b> {{ journal.issn }} (Online)</p>
                                        <p class="card-text">Frequency: {{ journal.frequency }}</p>
                                        <p class="card-text">{{ journal.journalType }}</p>
                                    </div>
                                    <div class="mt-auto">
                                        <a [routerLink]="'/journal/' + journal.journalUrl" class="btn journal-btn">
                                            Visit This Journal <i class="bi bi-link-45deg"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </article>
</main>