.journal-section {
    background-color: #fff;
    border-radius: 1rem;
    padding: 2rem;
    /* margin-bottom: 2rem; */
    /* border: 1px solid #dee2e6; */
  }

  .journal-cover {
    max-width: 100%;
    border-radius: 0.5rem;
    width: 180px;
  }

  .btn-custom {
    background-color: #ff6f6c;
    color: #fff;
    border: none;
  }

  .btn-custom:hover {
    background-color: #e65d5a;
  }

  h2, h4 {
    color: #1A237E;
  }