<article class="container">
    <div class="row">
        <!-- Editor-in-Chief -->
        <section class="col-12">
            <h3>Editor-in-Chief</h3>
            <div class="card">
                <div class="card-body">
                    <p class="editor-name">Dr. Chandrika Nanayakkara</p>
                    <p class="editor-details">
                        Professor<br>
                        Expertise: Microbiology, Biotechnology, Bioremediation<br>
                        Department of Plant Sciences<br>
                        University of Colombo, Sri Lanka<br>
                        <strong>Email:</strong> chandi&#64;pts.cmb.ac.lk
                    </p>
                    <p class="editor-links">
                        <a href="https://scholar.google.com/citations?user=v-XTlPcAAAAJ&hl=en" target="_blank">Google Scholar <i class="bi bi-link-45deg"></i></a>
                        <a href="https://www.researchgate.net/profile/Chandrika-Nanayakkara" target="_blank">ResearchGate <i class="bi bi-link-45deg"></i></a>
                    </p>
                </div>
            </div>
        </section>

        <!-- Executive Editors -->
        <section class="col-12">
            <h3>Executive Editors</h3>
            <div class="row">
                <div class="col-md-6">
                    <div class="card">
                        <div class="card-body">
                            <p class="editor-name">Dr. Mohammad Zabed Hossain</p>
                            <p class="editor-details">
                                Professor<br>
                                Expertise: Molecular Ecology, Plant Ecology, Ecosystem Functions, Eco-physiology<br>
                                Department of Botany<br>
                                University of Dhaka, Dhaka, Bangladesh
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="card">
                        <div class="card-body">
                            <p class="editor-name">Dr. Aparna Shil</p>
                            <p class="editor-details">
                                Associate Professor<br>
                                Expertise: Tissue Culture, Applied Microbiology, Biotechnology<br>
                                Department of Botany<br>
                                Jahangirnagar University, Dhaka, Bangladesh
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- Advisory Editor -->
        <section class="col-12">
            <h3>Advisory Editor</h3>
            <div class="card">
                <div class="card-body">
                    <p class="editor-name">Md. Abdur Rahman Sarkar</p>
                    <p class="editor-details">
                        Professor (Ret.)<br>
                        Department of Agronomy<br>
                        Bangladesh Agricultural University, Mymensingh, Bangladesh
                    </p>
                </div>
            </div>
        </section>

        <!-- Editors -->
        <section class="col-12">
            <h3>Editors</h3>
            <div class="row">
                <div class="col-md-6">
                    <div class="card">
                        <div class="card-body">
                            <p class="editor-name">Dr. S.M. Mobarak Hossain</p>
                            <p class="editor-details">
                                Professor<br>
                                Expertise: Plant Pathology, Plant Disease<br>
                                Department of Plant Pathology<br>
                                Hajee Mohammad Danesh Sci. & Tech. University, Dinajpur, Bangladesh
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="card">
                        <div class="card-body">
                            <p class="editor-name">Dr. Mohammad Redowan</p>
                            <p class="editor-details">
                                Professor<br>
                                Expertise: Spatial Analysis, C-Estimation GIS Technologies<br>
                                Dept. of Forestry & Environ. Science<br>
                                Shahjalal University of Science & Tech., Sylhet, Bangladesh
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="card">
                        <div class="card-body">
                            <p class="editor-name">Dr. Tanzima Yeasmin</p>
                            <p class="editor-details">
                                Professor<br>
                                Expertise: Plant Biochemistry and Molecular Biology<br>
                                Dept. of Biochem. & Mol. Biology<br>
                                University of Rajshahi, Rajshahi, Bangladesh
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="card">
                        <div class="card-body">
                            <p class="editor-name">Dr. Murad Ahmed Farukh</p>
                            <p class="editor-details">
                                Professor<br>
                                Expertise: Extreme Weather Events<br>
                                Department of Environmental Science<br>
                                Bangladesh Agricultural University, Mymensingh, Bangladesh
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="card">
                        <div class="card-body">
                            <p class="editor-name">Mahin Afroz</p>
                            <p class="editor-details">
                                Assistant Professor<br>
                                Expertise: Cytology, Cytogenetics<br>
                                Department of Botany<br>
                                University of Barishal, Barishal, Bangladesh
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="card">
                        <div class="card-body">
                            <p class="editor-name">Kazi Nazrul Islam</p>
                            <p class="editor-details">
                                Assistant Professor<br>
                                Expertise: Forestry, Environments<br>
                                Inst. of Forestry & Environ. Sciences<br>
                                University of Chittagong, Chittagong, Bangladesh
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- Editorial Assistant -->
        <section class="col-12">
            <h3>Editorial Assistant</h3>
            <div class="card">
                <div class="card-body">
                    <p class="editor-name">Gagandeep</p>
                    <p class="editor-details">
                        Postgraduate Diploma<br>
                        Northern College, Ontario, Canada
                    </p>
                </div>
            </div>
        </section>
    </div>
</article>