<article class="container my-5">
    <div class="row">
        <!-- Issue 1, Volume 3 -->
        <div class="col-md-4 col-sm-6">
            <div class="card">
                <div class="card-body">
                    <h3 class="issue-title">
                        <a>Volume 3, Issue 1</a>
                    </h3>
                    <p class="issue-meta">
                        <span>Published: April 30, 2023</span>
                        <span>Articles: 2</span>
                    </p>
                    <a class="btn btn-primary" routerLink="../vol3issue1">View Issue</a>
                </div>
            </div>
        </div>

        <!-- Issue 1, Volume 2 -->
        <div class="col-md-4 col-sm-6">
            <div class="card">
                <div class="card-body">
                    <h3 class="issue-title">
                        <a>Volume 2, Issue 1</a>
                    </h3>
                    <p class="issue-meta">
                        <span>Published: June 15, 2022</span>
                        <span>Articles: 5</span>
                    </p>
                    <a class="btn btn-primary" routerLink="../vol2issue1">View Issue</a>
                </div>
            </div>
        </div>

        <!-- Issue 1, Volume 1 -->
        <div class="col-md-4 col-sm-6">
            <div class="card">
                <div class="card-body">
                    <h3 class="issue-title">
                        <a>Volume 1, Issue 1</a>
                    </h3>
                    <p class="issue-meta">
                        <span>Published: October 10, 2021</span>
                        <span>Articles: 6</span>
                    </p>
                    <a class="btn btn-primary" routerLink="../vol1issue1">View Issue</a>
                </div>
            </div>
        </div>
    </div>
</article>