<div class="mb-4">
    <h5 class="mb-3 text-primary">Manuscript Details</h5>
    <form id="manuscriptDetailsForm"  #manuscriptForm="ngForm" (ngSubmit)="onSubmit(manuscriptForm)">
        <div class="mb-3">
            <label class="form-label">Select Journal</label>
            <select class="form-select" name="journalName" [(ngModel)]="manuscript.journalName">
            <option value="" disabled>Select a journal</option>
            <option value="plants-and-ecosystem">Plants and Ecosystem</option>
            <option value="journal-of-botany">Journal of Botany</option>
            <option value="ecological-studies">Ecological Studies</option>
            <option value="environmental-research">Environmental Research</option>
            <option value="biodiversity-and-conservation">Biodiversity and Conservation</option>
            </select>
        </div>

        <div class="mb-3">
            <label class="form-label">Manuscript Title</label>
            <input type="text" class="form-control" name="manuscriptTitle" [(ngModel)]="manuscript.manuscriptTitle">
        </div>

        <div class="mb-3">
            <label class="form-label">Category</label>
            <select class="form-select" name="manuscriptCategory" [(ngModel)]="manuscript.manuscriptCategory">
            <option value="" disabled>Select a category</option>
            <option value="research">Research Article</option>
            <option value="review">Review Article</option>
            <option value="case-study">Case Study</option>
            <option value="editorial">Editorial</option>
            <option value="other">Other</option>
            </select>
        </div>

        <div class="mb-3">
            <label class="form-label">Abstract</label>
            <textarea class="form-control" name="abstractContent" rows="5" [(ngModel)]="manuscript.abstractContent"></textarea>
        </div>

        <div class="mb-3">
            <label class="form-label">Keywords</label>
            <input type="text" class="form-control" name="manuscriptKeywords" [(ngModel)]="manuscript.manuscriptKeywords">
        </div>
        <hr class="my-4">
        <div class="d-flex gap-3">
            <button type="submit" class="btn btn-primary">Save & Continue <i class="bi bi-arrow-right-circle"></i></button>
            <button type="button" class="btn btn-outline-secondary" (click)="exitToDashboard()"><i class="bi bi-signpost"></i> Exit to Dashboard</button>
        </div>
    </form>
</div>