<nav class="sidebar">
    <div class="sidebar-header">
        <h3>Journal Menu</h3>
    </div>
    <ul class="nav flex-column">
        <li class="nav-item">
            <a class="nav-link" routerLink="homepage" routerLinkActive="active">Homepage</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="editorial-board" routerLinkActive="active">Editorial Board</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="#" routerLinkActive="active">Current Issue</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="#" routerLinkActive="active">All Issues</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="#" routerLinkActive="active">Announcements</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="#" routerLinkActive="active">Indexing</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="#" routerLinkActive="active">Article Processing Charge</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="#" routerLinkActive="active">Online Submission</a>
        </li>
    </ul>
</nav>