<main>
    <div class="container">
        <div class="form-card card">
            <div class="card-body">
                <form>
                    <div class="page-title-text text-center mb-4">
                        <h3>Login to Your Account</h3>
                    </div>

                    <div class="mb-3">
                        <label for="email" class="form-label">Email</label>
                        <input type="email" class="form-control" name="email" id="email" [(ngModel)]="email">
                    </div>

                    <div class="mb-3">
                        <label for="password" class="form-label">Password</label>
                        <input type="password" class="form-control" name="password" id="password" [(ngModel)]="password">
                    </div>

                    <div class="mb-3 text-end">
                        <a routerLink="/recovery" class="custom-link">Forgot Password?</a>
                    </div>

                    <button type="submit" class="btn form-btn w-100 mb-3" (click)="onSubmit()">
                        <i class="bi bi-box-arrow-in-right"></i>Login
                    </button>

                    <div class="text-center">
                        <small class="form-text">
                            Don't have an account?
                            <a routerLink="/register" class="custom-link">Register Now</a>
                        </small>
                    </div>
                </form>
            </div>
        </div>
    </div>
</main>