<div class="container my-5 d-flex justify-content-center">
    <div class="row" style="width: 400px">
      <div class="card p-4" style="border: 0;">
        <form>
          <h3 class="mb-4" style="color: #1A237E;">Login to Your Account</h3>
  
          <div class="mb-3">
            <label for="useremail" class="form-label">Email</label>
            <input type="email" class="form-control" name="useremail" id="useremail">
          </div>
  
          <div class="mb-3">
            <label for="userpassword" class="form-label">Password</label>
            <input type="password" class="form-control" name="userpassword" id="userpassword">
          </div>
  
          <div class="mb-3 text-end">
            <a routerLink="/recovery" class="text-decoration-none" style="color: #ff6f6c;">Forgot Password?</a>
          </div>
  
          <button type="submit" class="btn btn-primary w-100 mb-3" style="background-color: #ff6f6c; border: none;">
            <i class="bi bi-box-arrow-in-right"></i>
            Login
          </button>
  
          <!-- Register Link -->
          <div class="text-center">
            <small>Don't have an account?
              <a routerLink="/register" class="text-decoration-none" style="color: #ff6f6c;">Register Now</a>
            </small>
          </div>
        </form>
      </div>
    </div>
</div>
  