<nav class="sidebar">
    <div class="sidebar-header">
        <h3><i class="bi bi-view-list"></i> {{ userRole | titlecase }} Menu</h3>
    </div>
    <ul class="nav flex-column">
        <li class="nav-item"><a class="nav-link" routerLink="dashboard" routerLinkActive="active">Dashboard</a></li>
        <li class="nav-item"><a class="nav-link" routerLink="submission" routerLinkActive="active">Online Submission</a></li>
        <li class="nav-item"><a class="nav-link" routerLink="view-profile" routerLinkActive="active">View Profile</a></li>
        <li class="nav-item"><a class="nav-link" routerLink="edit-profile" routerLinkActive="active">Edit Profile</a></li>
        <li class="nav-item"><a class="nav-link" routerLink="payments" routerLinkActive="active">Payments</a></li>
        <li class="nav-item"><a class="nav-link" routerLink="settings" routerLinkActive="active">Settings</a></li>
    </ul>
</nav>
<!-- <nav class="sidebar">
    <div class="sidebar-header">
        <h3><i class="bi bi-view-list"></i> Editor Menu</h3>
    </div>
    <ul class="nav flex-column">
        <li class="nav-item"><a class="nav-link" routerLink="journal-overview" routerLinkActive="active">Journal Overview</a></li>
        <li class="nav-item">
            <a class="nav-link" routerLink="journal-submissions" routerLinkActive="active">Submissions</a>
            <ul class="submenu">
                <li class="nav-item"><a class="nav-link" routerLink="journal-submissions/new-submissions" routerLinkActive="submenu-active">New Submissions</a></li>
                <li class="nav-item"><a class="nav-link" routerLink="journal-submissions/under-review" routerLinkActive="submenu-active">Under Review</a></li>
                <li class="nav-item"><a class="nav-link" routerLink="journal-submissions/decision-queue" routerLinkActive="submenu-active">Decision Queue</a></li>
            </ul>
        </li>
        <li class="nav-item"><a class="nav-link" routerLink="journal-reviewers" routerLinkActive="active">Reviewers</a></li>
        <li class="nav-item"><a class="nav-link" routerLink="journal-reports" routerLinkActive="active">Reports</a></li>
        <li class="nav-item"><a class="nav-link" routerLink="journal-editorial-board" routerLinkActive="active">Editorial Board</a></li>
    </ul>
</nav> -->
<!-- <nav class="sidebar">
    <div class="sidebar-header">
        <h3><i class="bi bi-view-list"></i> Reviewer Menu</h3>
    </div>
    <ul class="nav flex-column">
        <li class="nav-item"><a class="nav-link" routerLink="reviewer-dashboard" routerLinkActive="active">Reviewer Dashboard</a></li>
        <li class="nav-item"><a class="nav-link" routerLink="reviewer-manuscripts" routerLinkActive="active">Assigned Manuscripts</a></li>
        <li class="nav-item"><a class="nav-link" routerLink="reviewer-reviews" routerLinkActive="active">Submitted Reviews</a></li>
    </ul>
</nav> -->
@if (userRole == "admin") {
<nav class="sidebar">
    <!-- <div class="sidebar-header">
        <h3><i class="bi bi-view-list"></i> Admin Menu</h3>
    </div> -->
    <hr style="border-top: 1px solid #aaa;"/>
    <ul class="nav flex-column">
        <li class="nav-item"><a class="nav-link" routerLink="admin-dashboard" routerLinkActive="active">Admin Dashboard</a></li>
        <li class="nav-item"><a class="nav-link" routerLink="admin-journal-publication" routerLinkActive="active">Journal Publication</a></li>
        <li class="nav-item"><a class="nav-link" routerLink="admin-user-submissions" routerLinkActive="active">User Submissions</a></li>
        <li class="nav-item"><a class="nav-link" routerLink="admin-journal-management" routerLinkActive="active">Journal Management</a></li>
        <li class="nav-item"><a class="nav-link" routerLink="admin-editorial-management" routerLinkActive="active">Editorial Management</a></li>
        <li class="nav-item"><a class="nav-link" routerLink="admin-reviewer-management" routerLinkActive="active">Reviewer Management</a></li>
        <li class="nav-item"><a class="nav-link" routerLink="admin-user-management" routerLinkActive="active">User Management</a></li>
        <li class="nav-item"><a class="nav-link" routerLink="admin-site-settings" routerLinkActive="active">Site Settings</a></li>
        <li class="nav-item"><a class="nav-link" routerLink="admin-activity-logs" routerLinkActive="active">Activity Logs</a></li>
    </ul>
</nav>
}