<nav class="sidebar">
    <div class="sidebar-header">
        <h3><i class="bi bi-view-list"></i> Journal Menu</h3>
    </div>
    <ul class="nav flex-column">
        <li class="nav-item">
            <a class="nav-link" routerLink="homepage" routerLinkActive="active">Homepage</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="editorial-board" routerLinkActive="active">Editorial Board</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="current-issue" routerLinkActive="active">Current Issue</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="all-issues" routerLinkActive="active">All Issues</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="announcements" routerLinkActive="active">Announcements</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="indexing" routerLinkActive="active">Indexing</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="processing-charge" routerLinkActive="active">Article Processing Charge</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="online-submission" routerLinkActive="active">Online Submission</a>
        </li>
    </ul>
</nav>