<nav class="sidebar">
    <div class="sidebar-header">
        <h3><i class="bi bi-view-list"></i> User Menu</h3>
    </div>
    <ul class="nav flex-column">
        <li class="nav-item">
            <a class="nav-link" routerLink="dashboard" routerLinkActive="active">Dashboard</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="submission" routerLinkActive="active">Online Submission</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="view-profile" routerLinkActive="active">View Profile</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="edit-profile" routerLinkActive="active">Edit Profile</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="settings" routerLinkActive="active">Profile Settings</a>
        </li>
    </ul>
</nav>
<nav class="sidebar">
    <div class="sidebar-header">
        <h3><i class="bi bi-view-list"></i> Editor Menu</h3>
    </div>
    <ul class="nav flex-column">
        <li class="nav-item">
            <a class="nav-link" routerLink="journal-overview" routerLinkActive="active">Journal Overview</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="journal-submissions" routerLinkActive="active">Submissions</a>
            <ul class="submenu">
                <li class="nav-item">
                    <a class="nav-link" routerLink="journal-submissions/new-submissions" routerLinkActive="submenu-active">New Submissions</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="journal-submissions/in-review" routerLinkActive="submenu-active">In Review</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="journal-submissions/decision-queue" routerLinkActive="submenu-active">Decision Queue</a>
                </li>
            </ul>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="journal-reviewers" routerLinkActive="active">Reviewers</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="journal-reports" routerLinkActive="active">Reports</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="journal-settings" routerLinkActive="active">Journal Settings</a>
        </li>
    </ul>
</nav>